# DATA PREPROCESSING AND DATA CLEANING:

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Step 1: Load the CSV dataset

Data = pd.read_csv('emotion.csv', usecols=['Text','Emotion'])
Data.head()

   Emotion                                               Text
0  neutral                                             Why ?
1      joy    Sage Act upgrade on my to do list for tommorow.
2  sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3      joy   Such an eye ! The true hazel eye-and so brill...
4      joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...

In [3]:
Data.tail()

        Emotion                                               Text
34787  surprise  @MichelGW have you gift! Hope you like it! It'...
34788       joy  The world didnt give it to me..so the world MO...
34789     anger                           A man robbed me today .
34790      fear  Youu call it JEALOUSY, I call it of #Losing YO...
34791   sadness  I think about you baby, and I dream about you ...

In [4]:
Data.shape

(34792, 2)

In [5]:
Data = Data.dropna()

In [6]:
Data.shape

(34792, 2)

In [7]:
Data.size

69584

In [8]:
Data.isnull().sum()

Emotion    0
Text       0
dtype: int64

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34792 entries, 0 to 34791
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Emotion  34792 non-null  object
 1   Text     34792 non-null  object
dtypes: object(2)
memory usage: 543.8+ KB

In [10]:
Data.columns

Index(['Emotion', 'Text'], dtype='object')

In [11]:
Data['Emotion'].unique()

array(['neutral', 'joy', 'sadness', 'fear', 'surprise', 'anger', 'shame',
       'disgust'], dtype=object)

In [12]:
Data['Emotion'].value_counts()

Emotion
joy         11045
sadness      6722
fear         5410
anger        4297
surprise     4062
neutral      2254
disgust       856
shame         146
Name: count, dtype: int64

In [13]:
Data.groupby('Emotion').describe()

           Text
          count unique                                                top freq
Emotion
anger      4297   3777  Don't get the impression that you arouse my an...   16
disgust     856    855  @wt2themax1 I'm sorry my blanket isn't comfort...    2
fear       5410   4266  “@RevRunWisdom: not afraid of tomorrow, for I ...   55
joy       11045  10464  Be truly glad. There is wonderful ahead! I Pet...    9
neutral    2254   1466                                             Yes .    74
sadness    6722   6175                          When my grandfather died.    8
shame       146    144  The kids were mortified but I thought it was a...    2
surprise   4062   4015  RT, follow @unitednude and WIN one of the 5 sp...   35

#### BEFORE LABEL ENCODER

In [14]:
Data.head()

   Emotion                                               Text
0  neutral                                             Why ?
1      joy    Sage Act upgrade on my to do list for tommorow.
2  sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3      joy   Such an eye ! The true hazel eye-and so brill...
4      joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...

In [15]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Emotion']
le = LabelEncoder()
for i in var_mod:
    Data[i] = le.fit_transform(Data[i]).astype(int)

In [16]:
Data['Emotion'].unique()

array([4, 3, 5, 2, 7, 0, 6, 1])

#### AFTER LABEL ENCODER

In [17]:
Data.head()

   Emotion                                               Text
0        4                                             Why ?
1        3    Sage Act upgrade on my to do list for tommorow.
2        5  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3        3   Such an eye ! The true hazel eye-and so brill...
4        3  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...

In [18]:
Data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
34787    False
34788    False
34789    False
34790    False
34791    False
Length: 34792, dtype: bool

In [19]:
Data.duplicated().sum()

3630

In [20]:
Data = Data.drop_duplicates()

In [21]:
Data.duplicated().sum()

0

In [22]:
import ydata_profiling as yp
import pandas_profiling
from pandas_profiling import ProfileReport
from ydata_profiling.model import describe
prof = ProfileReport(Data)
prof.to_file(output_file='report.html')

C:\Users\SPIRO-PYTHON1\AppData\Local\Temp\ipykernel_8048\3320982997.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling
F:\SOFTWARE\ANACONDA\Lib\site-packages\ydata_profiling\profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]